* {
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
  width: inherit;
}
table,
td,
tr,
th {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  font-size: 14pt;
}
caption {
  font-size: 24px;
  font-weight: 700;
}
th {
  background-color: #a5b80083;
}
tr {
  background-color: rgba(0, 255, 255, 0.184);
}
a {
  color: white;
  text-decoration: none;
  transition: 0.3s linear;
}
a:hover {
  color: rgb(161, 161, 161);
}
.delete {
  background-color: rgba(156, 0, 0, 0.886);
}
.update {
  background-color: green;
}
#app {
  width: 800px;
}
.search {
  display: block;
  text-align: center;
  margin: 10px;
  font-size: 16pt;
}
.red {
  color: red;
}
.black {
  color: black;
}
.functions{
  display: flex;
  align-items: center;
  justify-content: center;
}
.student {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 25px;
}
#openBlock {
  margin: 20px 0;
  width: 250px;
  height: 50px;
  font-size: 14pt;
}
#addStudent {
  display: none;
  border: 2px dotted black;
}
#addStudent label {
  display: inline-block;
  margin: 10px;
}
#addStudent button {
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 25px;
  font-size: 12pt;
}

#updateStudent {
  display: none;
  border: 2px dotted black;
}
#updateStudent label {
  display: inline-block;
  margin: 10px;
}
#updateStudent button {
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 25px;
  font-size: 12pt;
}
.exercise span {
  font-size: 25px;
}
.exchange {
  margin: 25px 0 0 25px;
}
.fa-edit {
  font-size: 24px;
  transition: 0.2s linear;
}
.fa-edit:hover {
  opacity: 0.4;
}
