<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Students</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      .exchange {
        margin: 25px 0 0 25px;
      }
    </style>
    <script src="main.js" defer></script>
  </head>
  <body>
    <div id="app">
      <input type="text" name="search" value="" v-model="search" /><br />
      <table class="table table-dark">
        <tr v-for="item in students" v-bind:key="item.id">
          <td>{{item.name}}</td>
          <td><input type="checkbox" v-model="item.isDonePr" /></td>
          <td>{{item.group}}</td>
          <td><a href="#" @click="deleteStudent(item.id)">Видалити</a></td>
        </tr>
      </table>

      <input v-model="student.name" />
      <input type="checkbox" v-model="student.isDonePr" />
      <select v-model="student.group">
        <option value="RPZ 19 1/9">RPZ 19 1/9</option>
        <option value="RPZ 19 2/9">RPZ 19 2/9</option>
      </select>
      <button @click="addStudent()">Add student</button>

      <div class="exchange">
        <h2>Currency Converter</h2>
        <div class="enterAmount">
          <label for="amount">Enter Amount:</label>
          <input type="number" name="amount" v-model="amount" />
        </div>
        <div class="convert">
          <label for="">Convert From:</label>
          <select name="from" id="" v-model="convertFrom">
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
          </select>
          <label for="">Convert To:</label>
          <select name="to" id="" v-model="convertTo">
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
          </select>
        </div>
        <button @click="getCurrency">Convert</button>
        <h3>Answer {{rate}}</h3>
      </div>
    </div>
  </body>
</html>
